<template>
  <div class="mb-4">
    <span class="card-label ml-2">{{ label }}</span>
    <div v-for="(trip, index) in tripsGroup" :key="index" class="search-result mb-1">
      <div class="card card-search-result-group mt-2 mb-0 px-0 py-0">
        <div class="inline-flex w-full">
          <div class="flex-col w-full px-4 py-4">
            <div class="text-xl font-medium text-gray-700">
              {{ $formatTime(trip.time) }}
            </div>
            <span
              class="sm:text-sm text-xs font-light text-gray-700"
              v-for="(route_point, index) in trip.route_points"
              :key="route_point.id"
            >
              {{ route_point.city }}
              <span v-if="index < trip.route_points.length - 1">-</span>
            </span>
          </div>
          <div class="flex-col flex-shrink-0 justify-end pr-4 pt-4">
            <div class="text-right text-xl font-medium text-gray-700">
              {{ +trip.price_per_seat }} €
            </div>
            <div class="flex inline-flex text-right my-1">
              <template v-if="trip.seats_available > trip.accepted_passengers.length">
                <div v-for="i in trip.seats_available - trip.accepted_passengers.length" :key="i">
                  <div
                    class="ml-1 h-8 w-8 rounded-full bg-gray-100 border-gray-400 border shadow-inner"
                    style="border-width: thin; background-color: hsla(0, 0%, 0%, 0.05);"
                  />
                </div>
              </template>
              <div
                class="text-gray-700 text-sm font-light"
                v-for="trip_passenger in trip.trip_passengers"
                :key="trip_passenger.id"
              >
                <img
                  class="ml-1 h-8 w-8 rounded-full object-cover cursor-pointer"
                  :src="
                    trip_passenger.user.person.photo
                      ? $serverUrl + trip_passenger.user.person.photo
                      : placeholder
                  "
                  alt="photo"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-row border-t mx-4"
          style="border-width: 0; border-top-width: thin; width: auto; height: 0;"
        />
        <div class="w-full">
          <div class="search-result-options-section">
            <div class="flex flex-col justify-center items-center w-full">
              <button
                id="show-modal"
                @click="editTrip(trip)"
                class="search-result-options-button card-bottom-button-left hover-indigo"
              >
                <svg class="btn-icon w-5 h-5" viewBox="0 0 24 18">
                  <path
                    fill="currentColor"
                    d="M20.71,4.04C21.1,3.65 21.1,3 20.71,2.63L18.37,0.29C18,-0.1 17.35,-0.1 16.96,0.29L15,2.25L18.75,6M17.75,7L14,3.25L4,13.25V17H7.75L17.75,7Z"
                  />
                </svg>
                Edit
              </button>
            </div>
            <div
              class="flex flex-col border-l my-2"
              style="border-width: 0; border-left-width: thin; width: 0px; height: auto;"
            />
            <div class="flex flex-col justify-center items-center w-full">
              <button
                class="search-result-options-button card-bottom-button-right hover-red"
                @click="deleteUserTrip(trip.id)"
              >
                <svg class="btn-icon w-5 h-5" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
                  />
                </svg>
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import placeholder from '../../../assets/placeholder.jpg';

export default {
  name: 'UserTripsGroup',
  data: () => ({
    placeholder,
  }),
  props: {
    label: {
      type: String,
      required: true,
    },
    tripsGroup: {
      type: Array,
    },
  },
  methods: {
    ...mapActions('trips', ['deleteUserTrip']),
    editTrip(trip) {
      this.$router.push(`/manage/edit/${trip.id}`);
    },
  },
};
</script>

<style scoped>
.search-result:hover {
  @apply shadow-outline-none cursor-default;
  background-color: inherit;
}
</style>
