<template>
  <div>
    <div class="google-map" ref="googleMap"></div>
    <template v-if="Boolean(this.google) && Boolean(this.map)">
      <slot :google="google" :map="map" />
    </template>
  </div>
</template>

<script>
import gmapsInit from '../../../util/gmaps';

export default {
  data: () => ({
    google: null,
    map: null,
  }),
  props: {
    mapConfig: Object,
  },
  async mounted() {
    this.google = await gmapsInit();
    this.initializeMap();
  },

  methods: {
    initializeMap() {
      const mapContainer = this.$refs.googleMap;
      this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
    },
  },
};
</script>
<style scoped>
.google-map {
  width: 100%;
  min-height: 100%;
}
</style>
