<template>
  <GoogleMapLoader :mapConfig="mapConfig">
    <div id="map">
      <template slot-scope="{ google, map }">
        <GoogleMapMarker
          v-for="marker in markers"
          :key="marker.id"
          :marker="marker"
          :google="google"
          :map="map"
        />
        <GoogleMapLine
          v-for="line in lines"
          :key="line.id"
          :path.sync="line.path"
          :google="google"
          :map="map"
        />
      </template>
    </div>
  </GoogleMapLoader>
</template>

<script>
import { mapSettings } from '@/constants/mapSettings';
import Vue from 'vue';
import GoogleMapLoader from './GoogleMapLoader';
import GoogleMapMarker from './GoogleMapMarker';
import GoogleMapLine from './GoogleMapLine';

export default {
  name: 'PickupPointSelectMap',
  components: {
    GoogleMapLoader,
    GoogleMapMarker,
    GoogleMapLine,
  },

  data() {
    return {
      center: { lat: 54.898, lng: 23.903 },
      markers: [{ id: 'a', position: { lat: 54.898, lng: 23.903 } }],
    };
  },

  methods: {
    setNewLocation(autocomplete) {
      console.log(autocomplete.place.geometry.location);
      // this.center = autocomplete.place.geometry.location;
      Vue.set(this.center, 'lat', autocomplete.place.geometry.location.lat);
      Vue.set(this.center, 'lng', autocomplete.place.geometry.location.lng);
    },
  },
  computed: {
    mapConfig() {
      return {
        ...mapSettings,
        gestureHandling: 'cooperative',
        disablePanMomentum: true,
        disableDefaultUI: true,
        center: this.center,
      };
    },

    mapCenter() {
      return this.center;
    },
  },
};
</script>

<style scoped></style>
