<template>
  <div>
    <span class="card-label ml-2">{{ label }}</span>
    <div class="card card-search-result-group px-0 py-0">
      <div class="flex-col w-full">
        <div
          v-for="(trip, index) in tripsGroup"
          :key="index"
          class="search-result justify-start"
          @click="viewTrip(trip)"
        >
          <div class="inline-flex" style="height: 6em;">
            <div class="search-result-user-section">
              <div>
                <img
                  class="h-12 w-12 rounded-full object-cover mx-auto"
                  :src="trip.user.person.photo ? $serverUrl + trip.user.person.photo : placeholder"
                  alt="photo"
                />
                <span class="text-sm text-neutral-700">
                  {{ trip.user.person.first_name }}
                </span>
              </div>
            </div>
            <div
              class="flex flex-col border-l my-2"
              style="border-width: 0 0 0 thin; width: 0px; height: auto;"
            />
            <div class="px-4 w-full pt-2">
              <div class="text-2xl font-medium text-neutral-600">
                {{ removeDecimals(trip.time) }}
              </div>
              <span
                class="sm:text-sm text-xs font-light text-neutral-500"
                v-for="route_point in trip.route_points"
                :key="route_point.id"
              >
                {{ route_point.city }}
                <span v-if="route_point.order < trip.route_points.length - 1">-</span>
              </span>
            </div>
            <div class="flex-col flex-shrink-0 justify-end pr-4 pt-2">
              <div class="flex-row text-right text-2xl font-medium text-neutral-600">
                {{ removeDecimals(trip.price_per_seat) }} €
              </div>
              <div class="flex-row text-right">
                <span class="text-neutral-500 text-sm font-light">
                  {{ trip.seats_available }} seats left
                </span>
              </div>
            </div>
          </div>
          <div
            v-if="index < tripsGroup.length - 1"
            class="flex flex-row border-t mx-4"
            style="border-width: 0; border-top-width: thin; width: auto; height: 0;"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import placeholder from '../../../assets/placeholder.jpg';

export default {
  data: () => ({
    placeholder,
  }),
  methods: {
    removeDecimals(value) {
      return value.substring(0, value.length - 3);
    },
    viewTrip(trip) {
      this.$router.push({ name: 'ViewDetails', params: { id: trip.id } });
    },
  },
  props: {
    label: {
      type: String,
      required: true,
    },
    tripsGroup: {
      type: Array,
    },
  },
};
</script>
