<template>
  <div>
    <form autocomplete="off" @submit.prevent="onSubmit">
      <span class="card-label ml-2">Search for a trip</span>
      <div class="card">
        <v-input
          class="mb-3 mx-6"
          custom-class="input-secondary"
          v-model="from"
          placeholder="Where from?"
          id="from"
        />
        <v-input
          class="mb-8 mx-6"
          custom-class="input-secondary"
          v-model="to"
          placeholder="Where to?"
          id="to"
        />
        <button type="submit" class="btn btn-primary w-full">
          Search
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import VInput from '../../base/VInput.vue';
import axios from '../../../axios-auth';

export default {
  name: 'SearchFiltersCard',
  components: { VInput },

  data: () => ({
    lastFrom: '',
    lastTo: '',
    from: '',
    to: '',
    date: '',
    lock: false,
  }),
  props: {
    trips: {
      type: [Object, Array],
      required: true,
    },
  },
  methods: {
    ...mapActions('trips', ['setSearchedTrips']),
    onSubmit() {
      if (this.from === '' || this.to === '') {
        if (this.trips.length !== 0) {
          console.log('Results cleared');
          this.lastFrom = '';
          this.lastTo = '';
          this.$store.dispatch('trips/purgeSearchedTrips');
          return;
        }
        console.log('You need to fill input to search');
        return;
      }
      if (this.to === this.lastTo && this.from === this.lastFrom) return;
      // if (this.lock === true) {
      //   return;
      // }
      this.lock = true;
      axios
        .get('/api/trips', {
          params: {
            from: this.from,
            to: this.to,
          },
        })
        .then((res) => {
          console.log(res);
          this.lastFrom = this.from;
          this.lastTo = this.to;
          this.$store.dispatch('trips/setSearchedTrips', res.data);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.lock = false;
        });
    },
  },
};
</script>

<style scoped>
.input-secondary {
  background-color: transparent;
  border-bottom-width: 1px;
  border-radius: 0;
  border-color: var(--color-neutral-200);
}
.card {
  padding: 1.5em 0 0 0;
}
.btn {
  height: 2.5em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 100%;
}
</style>
