<template>
  <div class="flex min-h-screen w-full justify-center">
    <div class="pt-24 pb-6 justify-center">
      <div class="text-2xl card-label">
        Create a trip
      </div>
      <hr class="w-full solid pb-6" style="border-color: #d6d6d6;" />
      <trip-form
        :trip="newTripItem"
        :on-save="onSave"
        :errors="errors"
        :on-clear-errors="CLEAR_VALIDATION_ERRORS"
      />
    </div>
  </div>
</template>
<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import TripForm from '../components/trips/TripForm';

export default {
  name: 'CreateTrip',
  components: { TripForm },
  computed: mapState('trips', ['newTripItem', 'errors']),
  methods: {
    ...mapMutations('trips', ['CLEAR_VALIDATION_ERRORS', 'SET_VALIDATION_ERRORS']),
    ...mapActions('trips', ['createUserTrip', 'newTrip']),

    async onSave(trip) {
      await this.createUserTrip(trip).then((res) => {
        console.log(res);
        this.$router.push('/manage');
      });
    },
  },
  created() {
    this.SET_VALIDATION_ERRORS({});
  },
};
</script>
<style scoped></style>
