<template>
  <v-dialog dialog width="31.1em">
    <div class="flex min-h-screen justify-center">
      <trip-form
        :trip="editedTrip"
        :on-save="onSave"
        :on-cancel="onCancel"
        :errors="errors"
        :on-clear-errors="CLEAR_VALIDATION_ERRORS"
      />
    </div>
  </v-dialog>
</template>
<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import VDialog from '../components/base/VDialog';
import TripForm from '../components/trips/TripForm';
import store from '../store/index';

export default {
  name: 'EditTrip',
  components: { TripForm, VDialog },
  computed: mapState('trips', ['editedTrip', 'errors']),
  async beforeRouteEnter(to, from, next) {
    await store.dispatch('trips/editTrip', +to.params.id);
    next();
  },
  methods: {
    ...mapMutations('trips', ['CLEAR_VALIDATION_ERRORS', 'SET_VALIDATION_ERRORS']),
    ...mapActions('trips', ['updateUserTrip']),
    async onSave(trip) {
      await this.updateUserTrip(trip).then(() => {
        this.$router.push('/manage');
      });
    },
    onCancel() {
      this.$router.push('/manage');
    },
  },
  created() {
    this.SET_VALIDATION_ERRORS({});
  },
};
</script>
<style scoped></style>
