<template>
  <div class="flex min-h-screen w-full justify-center">
    <div class="search-results-wrapper pb-6 justify-center">
      <div class="text-2xl card-label">
        Upcoming trips
      </div>
      <template v-if="userTripsRequestAccepted">
        <hr class="w-full solid pb-6" style="border-color: #d6d6d6;" />
        <user-trips-group
          v-for="(tripsGroup, date) in userTripsRequestAccepted"
          :key="date"
          :label="$formatDate(date)"
          :tripsGroup="tripsGroup"
        />
      </template>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import UserTripsGroup from '../components/trips/manage/UserTripsGroup';

export default {
  name: 'ManageTrips',
  components: { UserTripsGroup },

  computed: {
    ...mapGetters('trips', ['userTripsRequestAccepted']),
  },
  methods: {
    ...mapActions('trips', ['fetchUserTrips']),
  },
  created() {
    if (!this.userTripsRequestAccepted) {
      this.fetchUserTrips();
    }
  },
};
</script>

<style scoped></style>
