<template>
  <div class="flex justify-center">
    <div class="justify-center w-full max-w-lg">
      <div class="flex justify-between text-white card-label">
        <div class="text-shadow-md text-2xl">
          Notifications
        </div>
        <button :disabled="lock" class="rounded-full focus:outline-none">
          <svg @click="onBack" class="btn-icon w-8 h-8 mx-0" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
            />
          </svg>
        </button>
      </div>
      <template v-if="userTripsRequestPending">
        <div
          class="card px-4 py-4 flex flex-col items-center justify-center"
          style="background-color: var(--body-background-color);"
        >
          <trip-requests-group
            v-for="(tripsGroup, date) in userTripsRequestPending"
            :key="date"
            :label="$formatDate(date)"
            :tripsGroup="tripsGroup"
          >
          </trip-requests-group>
          <div v-if="Object.keys(userTripsRequestPending).length === 0">
            No new notifications
          </div>
        </div>
      </template>
      <template v-else>
        <div
          class="card px-4 py-4 flex justify-center"
          style="background-color: var(--body-background-color);"
        >
          <span>Loading - please wait...</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import TripRequestsGroup from '../components/notifications/trip-requests/TripRequestsGroup';

export default {
  components: { TripRequestsGroup },
  name: 'Notifications',
  data: () => ({
    lock: false,
    message: 'No new notifications',
  }),
  computed: {
    ...mapGetters('trips', ['userTripsRequestPending']),
  },
  methods: {
    ...mapActions('trips', ['fetchUserTrips']),
    onBack() {
      this.$router.go(-1);
      this.lock = true;
    },
  },
  created() {
    if (!this.userTripsRequestPending) {
      this.fetchUserTrips();
    }
  },
};
</script>

<style scoped></style>
