<template>
  <div class="flex min-h-screen w-full justify-center">
    <div class="pt-24 pb-6 justify-center w-full max-w-2xl">
      <div class="text-2xl card-label">
        Your profile
      </div>
      <hr class="w-full solid pb-6" style="border-color: #d6d6d6;" />
      <div class="card px-4 py-4 h-64">
        <div class="flex flex-row justify-start items-center">
          <input
            type="file"
            accept="image/*"
            @change="onFileSelected"
            class="hidden"
            ref="fileInput"
          />
          <template v-if="currentUser.person.photo">
            <img
              class="mx-2 h-20 w-20 rounded-full object-cover cursor-pointer hover:-translate-x-full"
              :src="currentUser.person.photo ? $serverUrl + currentUser.person.photo : placeholder"
              alt="photo"
              @click="$refs.fileInput.click()"
            />
            <button class="btn btn-secondary" @click="onRemovePhoto">Delete photo</button>
          </template>
          <template v-else>
            <button
              type="button"
              @click="$refs.fileInput.click()"
              class="h-20 w-20 rounded-full bg-gray-200 border-gray-400 hover:bg-gray-300 focus:outline-none focus:shadow-outline border-2"
            >
              Add a photo
            </button>
          </template>
        </div>
        {{ currentUser.person.first_name }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Profile.vue',
  data: () => ({
    selectedFile: null,
  }),
  computed: {
    ...mapGetters('auth', ['currentUser']),
  },
  methods: {
    ...mapActions('auth', ['uploadUserPhoto', 'removeUserPhoto']),
    onFileSelected(event) {
      if (!event.target.files?.length) {
        return;
      }
      const fd = new FormData();
      fd.append('photo', event.target.files[0]);
      this.uploadUserPhoto(fd);
    },
    onRemovePhoto() {
      this.removeUserPhoto();
    },
  },
};
</script>

<style scoped></style>
