<template>
  <div>
    <div class="flex flex-col md:flex-row min-h-screen py-12 justify-start md:justify-center">
      <div
        class="search-filters-wrapper pt-8 w-full items-start md:items-center md:w-auto md:max-w-md md:align-middle"
      >
        <search-filters :trips="searchedTrips" />
      </div>
      <div class="search-results-wrapper pt-8">
        <searched-trips-group
          v-for="(tripsGroup, date) in searchedTrips"
          :key="date"
          :label="$formatDate(date)"
          :tripsGroup="tripsGroup"
        />
        <div v-if="searchedTrips.length === 0">
          <span class="card-label ml-2"></span>
          <div>
            <div
              class="hidden md:inline-flex card ustify-start align-middle items-center py-3 px-4"
            >
              <svg
                class="btn-icon mr-3 h-8 w-8"
                viewBox="0 0 24 24"
                style="color: var(--color-primary-500);"
              >
                <path
                  fill="currentColor"
                  d="M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M15.4,16.6L10.8,12L15.4,7.4L14,6L8,12L14,18L15.4,16.6Z"
                />
              </svg>
              <h3 class="text-gray-600 font-light" style="text-align-last: justify;">
                Enter a route you would like to search for
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SearchedTripsGroup from '../components/trips/search/SearchedTripsGroup';
import SearchFilters from '../components/trips/search/SearchFilters';

export default {
  name: 'Search',
  components: { SearchFilters, SearchedTripsGroup },
  computed: {
    ...mapGetters('trips', ['searchedTrips']),
  },
};
</script>
