<template>
  <div class="mb-4 flex flex-col">
    <div v-for="trip in tripsGroup" :key="trip.id" class="search-result mb-1">
      <div class="card card-search-result-group mb-0 px-0 py-0 mt-2">
        <div class="inline-flex w-full">
          <div class="flex-col w-full px-4 py-4">
            <div class="text-lg text-gray-700">{{ label }} • {{ $formatTime(trip.time) }}</div>
            <span
              class="sm:text-sm text-xs font-light text-gray-700"
              v-for="(route_point, index) in trip.route_points"
              :key="route_point.id"
            >
              {{ route_point.city }}
              <span v-if="index < trip.route_points.length - 1">-</span>
            </span>
          </div>
          <div class="flex-col flex-shrink-0 justify-end pr-4 pt-4">
            <div class="text-right text-xl font-medium text-gray-700">
              {{ +trip.price_per_seat }} €
            </div>
            <div class="flex inline-flex text-right my-1">
              <template v-if="trip.seats_available > trip.accepted_passengers.length">
                <div v-for="i in trip.seats_available - trip.accepted_passengers.length" :key="i">
                  <div
                    class="ml-1 h-8 w-8 rounded-full bg-gray-100 border-gray-400 border shadow-inner"
                    style="border-width: thin; background-color: hsla(0, 0%, 0%, 0.05);"
                  />
                </div>
              </template>
              <div
                class="inline-flex text-right my-auto"
                v-for="accepted_passenger in trip.accepted_passengers"
                :key="accepted_passenger.id"
              >
                <img
                  class="ml-1 h-8 w-8 rounded-full object-cover cursor-pointer shadow-inner"
                  :src="
                    accepted_passenger.user.person.photo
                      ? $serverUrl + accepted_passenger.user.person.photo
                      : placeholder
                  "
                  alt="photo"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          v-for="trip_passenger in trip.trip_passengers"
          :key="trip_passenger.id"
          class="inline-flex w-full py-2 pl-2 pr-3 border-t round-children justify-between"
          style="background-color: var(--panel-background-color);"
        >
          <div class="inline-flex items-center">
            <img
              class="mx-2 h-8 w-8 rounded-full object-cover"
              :src="
                trip_passenger.user.person.photo
                  ? $serverUrl + trip_passenger.user.person.photo
                  : placeholder
              "
              alt="photo"
            />
            <div class="text-sm">
              <span class="font-medium text-neutral-700"
                >{{ trip_passenger.user.person.first_name }}
              </span>
              <span class="text-neutral-700">wants to join your trip.</span>
            </div>
          </div>
          <div class="inline-flex">
            <button
              :disabled="lock"
              @click="acceptTripRequest(trip.id, trip_passenger.id)"
              class="focus:outline-none"
            >
              <svg
                class="w-10 h-10 p-1 rounded-full"
                :class="
                  trip.accepted_passengers.length >= trip.seats_available
                    ? 'text-gray-400 cursor-default'
                    : 'text-green-600 hover:text-green-500 action-button'
                "
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z"
                />
              </svg>
            </button>
            <button
              :disabled="lock"
              @click="declineTripRequest(trip.id, trip_passenger.id)"
              class="focus:outline-none"
            >
              <svg
                class="action-button w-10 h-10 p-1 text-red-700 hover:text-red-600 rounded-full"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import placeholder from '../../../assets/placeholder.jpg';

export default {
  name: 'TripRequestsGroup',

  data: () => ({
    placeholder,
    lock: false,
  }),
  props: {
    label: {
      type: String,
      required: true,
    },
    tripsGroup: {
      type: Array,
    },
  },
  methods: {
    ...mapActions('trips', ['acceptRequest', 'declineRequest']),
    async acceptTripRequest(tripId, tripPassengerId) {
      this.lock = true;
      const fd = {
        trip_id: tripId,
        trip_passenger_id: tripPassengerId,
      };
      await this.acceptRequest(fd);
      this.lock = false;
    },
    async declineTripRequest(tripId, tripPassengerId) {
      // eslint-disable-next-line no-restricted-globals
      if (confirm('Are you sure?')) {
        this.lock = true;
        const fd = {
          trip_id: tripId,
          trip_passenger_id: tripPassengerId,
        };
        await this.declineRequest(fd);
        this.lock = false;
      }
    },
  },
};
</script>

<style scoped>
.search-result:hover {
  @apply shadow-outline-none cursor-default;
  background-color: inherit;
}
.action-button:hover {
  background-color: hsla(0, 0%, 0%, 0.075);
}
</style>
