<template>
  <nav class="hidden md:flex border-b fixed top-0 align-middle justify-between w-full h-12 z-10">
    <div class="flex flex-shrink justify items-center">
      <router-link
        to="/"
        class="logo flex items-center flex-shrink-0 text-gray-800 hover:text-primary mr-3 ml-6 focus:outline-none"
      >
        <span class="text-xl tracking-tight">Geko</span>
      </router-link>
    </div>
    <div class="flex items-center mr-3">
      <router-link class="mr-1" v-if="isAuthenticated" to="/notifications">
        <div
          class="h-10 rounded-full flex justify-center items-center"
          style="width: 2.25em; height: 2.25em;"
        >
          <svg
            class="btn-icon mx-0 w-6 h-6 rounded-full"
            viewBox="0 0 24 24"
            style="color: var(--color-neutral-600);"
          >
            <path
              fill="currentColor"
              d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21"
            />
          </svg>
        </div>
      </router-link>
      <router-link class="mr-3 btn btn-primary" v-if="isAuthenticated" to="/create">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
          />
        </svg>
        Create
      </router-link>
      <router-link class="mr-3 btn btn-primary" to="/">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"
          />
        </svg>
        Search
      </router-link>
      <router-link class="mr-3 btn btn-secondary" v-if="!isAuthenticated" to="/login">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z"
          />
        </svg>
        Log In
      </router-link>
      <router-link class="mr-3 btn btn-primary" v-if="!isAuthenticated" to="/signup">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M15,14C12.33,14 7,15.33 7,18V20H23V18C23,15.33 17.67,14 15,14M6,10V7H4V10H1V12H4V15H6V12H9V10M15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12Z"
          />
        </svg>
        Sign Up
      </router-link>
      <AccountDropdown />
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
import AccountDropdown from './account-dropdown/AccountDropdown.vue';

export default {
  components: {
    AccountDropdown,
  },
  data: () => ({
    open: false,
  }),
  computed: {
    ...mapGetters('auth', ['isAuthenticated']),
  },
  methods: {
    onLogout() {
      this.$store.dispatch('auth/logout');
    },
  },
};
</script>

<style scoped>
nav {
  background-color: var(--panel-background-color);
}
</style>
