<template>
  <transition name="modal">
    <div v-if="dialog" class="modal-wrapper" @click="$emit('click:outside')">
      <div class="modal-container" :style="{ width: width }" @click.stop>
        <slot></slot>
      </div>
    </div>
  </transition>
</template>
<script>
// TODO add border-radius
export default {
  name: 'VDialog',
  props: {
    dialog: {
      type: Boolean,
      required: true,
    },
    width: {
      type: String,
      default: '800px',
    },
  },
};
</script>
<style scoped>
.modal-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}
.modal-container {
  overflow-y: auto;
  max-height: 95%;
  border-radius: 4px;
}
/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
@media (max-width: 1024px) {
  .modal-container {
    max-height: 100%;
  }
}
</style>
