<template>
  <div>
    <div class="input-wrapper" :class="([ customClass ? customClass : 'input-primary' ])">
      <label
        :class="({ 'text-red-700': displayedErrorMessage })"
        class="input-label"
        :for="inputId"
        >{{ label }}</label
      >
      <!--    todo-->
      <!--    <svg v-if="prependIcon !== ''"-->
      <input
        :type="type"
        :value="value"
        :placeholder="placeholder"
        @input="onInput"
        :id="inputId"
        :name="name"
      />
      <!--    <svg v-if="clearable" class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>-->
    </div>
    <div v-if="displayedErrorMessage" class="text-xs text-red-700">
      {{ displayedErrorMessage }}
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

export default {
  name: 'VInput',
  props: {
    type: {
      type: String,
      default: 'text',
    },
    name: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    prependIcon: {
      type: String,
      default: '',
    },
    clearable: {
      type: Boolean,
    },
    errorMessages: {
      type: Array,
      default: () => [],
    },
    customClass: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
    },
  },
  computed: {
    displayedErrorMessage() {
      if (this.errorMessages?.length) {
        return this.errorMessages[0];
      }
      return '';
    },

    inputId() {
      return this.id || uuidv4();
    },
  },
  methods: {
    onInput(event) {
      this.$emit('input', event.target.value);
      if (this.displayedErrorMessage) {
        this.$emit('clear:errors');
      }
    },
  },
};
</script>
