<template>
  <div
    class="inline-block relative cursor-pointer w-48"
    v-if="isAuthenticated"
    @click="isOpen = !isOpen"
  >
    <button
      class="inline-flex relative z-20 justify-between align-middle items-center selection h-12 overflow-hidden focus:outline-none"
    >
      <img
        class="mx-2 h-8 w-8 rounded-full object-cover"
        :src="currentUser.person.photo ? $serverUrl + currentUser.person.photo : placeholder"
        alt="photo"
      />
      <span class="mr-2 text-left w-32 capitalize">{{ currentUser.person.first_name }}</span>
      <svg class="fill-current h-5 w-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
      </svg>
    </button>
    <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed cursor-default" />
    <div v-if="isOpen" class="absolute right-0 w-48 rounded-b-lg shadow-md bg-panel">
      <router-link to="/profile" class="selection py-3 block px-3 h-12 text-gray-800">
        <div class="inline-flex items-center py-auto">
          <svg class="btn-icon" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M4.166,20.246c-1.955-2.661-1.955-6.823,0-8.009s3.91.424,7.818.424,5.864-1.609,7.819-.424,1.955,5.348,0,8.009S15.894,24,11.984,24,6.121,22.907,4.166,20.246Zm2-14.48a5.764,5.764,0,1,1,5.764,5.765A5.764,5.764,0,0,1,6.165,5.765Z"
            />
          </svg>
          Profile
        </div>
      </router-link>
      <router-link
        to="/manage"
        @click="onTrips"
        class="selection py-3 block px-3 h-12 text-gray-800"
      >
        <div class="inline-flex items-center py-auto">
          <svg class="btn-icon" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M8,11L9.5,6.5H18.5L20,11M18.5,16A1.5,1.5 0 0,1 17,14.5A1.5,1.5 0 0,1 18.5,13A1.5,1.5 0 0,1 20,14.5A1.5,1.5 0 0,1 18.5,16M9.5,16A1.5,1.5 0 0,1 8,14.5A1.5,1.5 0 0,1 9.5,13A1.5,1.5 0 0,1 11,14.5A1.5,1.5 0 0,1 9.5,16M19.92,6C19.71,5.4 19.14,5 18.5,5H9.5C8.86,5 8.29,5.4 8.08,6L6,12V20A1,1 0 0,0 7,21H8A1,1 0 0,0 9,20V19H19V20A1,1 0 0,0 20,21H21A1,1 0 0,0 22,20V12L19.92,6M14.92,3C14.71,2.4 14.14,2 13.5,2H4.5C3.86,2 3.29,2.4 3.08,3L1,9V17A1,1 0 0,0 2,18H3A1,1 0 0,0 4,17V12.91C3.22,12.63 2.82,11.77 3.1,11C3.32,10.4 3.87,10 4.5,10H4.57L5.27,8H3L4.5,3.5H15.09L14.92,3Z"
            />
          </svg>
          Manage trips
        </div>
      </router-link>
      <a @click="onLogout" class="selection rounded-b-lg py-3 block px-3 h-12 text-gray-800">
        <div class="inline-flex items-center py-auto">
          <svg class="btn-icon" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z"
            />
          </svg>
          Log out
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import placeholder from '../../../assets/placeholder.jpg';
import router from '../../../router';

export default {
  data: () => ({
    isOpen: false,
    placeholder,
  }),
  created() {
    const handleEscape = (e) => {
      if (e.key === 'Esc' || e.key === 'Escape') {
        this.isOpen = false;
      }
    };
    document.addEventListener('keydown', handleEscape);

    this.$once('hook:beforeDestroy', () => {
      document.removeEventListener('keydown', handleEscape);
    });
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated', 'currentUser']),
  },
  methods: {
    onProfile() {
      router.push('/profile');
    },
    onNotifications() {
      router.push('/notifications');
    },
    onTrips() {
      router.push('/manage');
    },
    onLogout() {
      this.$store.dispatch('auth/logout');
    },
  },
};
</script>
<style scoped>
.selection {
  font-size: 0.9em;
  font-weight: 400;
}
.selection:hover {
  @apply shadow-outline;
  background-color: hsla(125, 13%, 81%, 0.1);
}
.bg-panel {
  background-color: var(--panel-background-color);
}
</style>
