@tailwind base;

@tailwind components;

.logo {
  transition: color 300ms ease-out;
}
.logo:hover {
  color: var(--color-primary-500);
}
.btn {
  @apply px-3 flex justify-center items-center;
  border-radius: 18px;
  white-space: nowrap;
  height: 2.25em;
  font-size: 1em;
  font-weight: 400;
}
.btn-icon {
  @apply fill-current w-6 h-6;
  margin-right: 5px;
}
.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-primary {
  background-color: var(--color-primary-500);
  color: white;
}
.btn-primary:hover {
  background-color: var(--color-primary-400);
}

.btn-secondary {
  border-top-width: thin;
  border-color: var(--color-primary-500);
  color: var(--color-primary-500);
  background-color: transparent;
}
.btn-secondary:hover {
  background-color: var(--panel-background-color);
  filter: brightness(0.98);
}
.btn-secondary:focus {
  border-color: var(--color-primary-t-70);
}
input::placeholder {
  font-weight: 300;
  color: var(--color-neutral-500);
}
input:focus::placeholder {
  color: var(--color-neutral-500);
}

.input-label {
  @apply inline-flex items-start select-none;
  padding: 3px 10px 0;
  font-size: 12px;
  font-weight: 400;
}
.input-wrapper {
  @apply flex flex-col;
  color: #657786;
  width: auto;
}
.input-primary {
  border-bottom: medium solid;
  border-radius: 8px 8px 2px 2px;
  background-color: #f7f9fb;
}
.input-secondary {
  border-bottom: thin solid;
  background-color: transparent;
}
.input-wrapper input {
  @apply flex appearance-none outline-none;
  padding: 0 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  font-weight: 400;
  background-color: inherit;
  color: var(--default-font-color);
  width: auto;
}
.input-wrapper:focus-within {
  /*border-color: var(--color-primary-500);*/
  color: var(--color-primary-500);
}

.input-prepend-icon {
  @apply flex flex-col flex-shrink-0 fill-current text-gray-500 h-5;
  background-color: inherit;
  margin-bottom: 0.2em;
  color: inherit;
}

.card {
  @apply bg-white shadow-md mt-2;
  background-color: rgb(251, 251, 251);
  border-radius: 18px;
  width: 100%;
}

.card-label {
  @apply flex-row text-shadow-md;
}

.card-separator {
  @apply flex-col border-b mt-10 mb-8 mx-auto;
  border-radius: 8px;
  border-bottom-width: thin;
  width: 95%;
  border-color: var(--color-neutral-200);
}

.search-filters-wrapper {
  @apply flex-col flex-shrink-0;
  width: 18em;
  padding-left: 1em;
  padding-right: 1em;
}

.search-results-wrapper {
  @apply flex-col w-full;
  max-width: 32.0625em;
  padding-left: 1em;
  padding-right: 1em;
}

.card-search-result-group {
  /*todo*/
  margin-bottom: 1.5em;
  width: 100%;
}
.round-children:first-child {
  border-radius: 18px 18px 0 0;
}
.round-children:last-child {
  border-radius: 0 0 18px 18px;
}
.search-result {
  @apply cursor-pointer flex flex-col w-full justify-start;
  min-height: 6rem;
}
.search-result:hover {
  @apply outline-none shadow-outline-moss-1;
  background-color: hsl(140, 50%, 98%);
}
.search-result:first-child {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.search-result:last-child {
  border-bottom-width: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.search-result-user-section {
  @apply flex flex-shrink-0 text-center items-center justify-center;
  max-width: 5em;
  border-color: var(--color-neutral-200);
  width: 100%;
  height: 100%;
}
.search-result-options-section {
  @apply flex flex-row w-full h-10 justify-center;
}
.search-result-options-button {
  @apply inline-flex text-sm w-full justify-center items-center text-neutral-500 cursor-pointer;
  background-color: inherit;
  height: 100%;
}
.search-result-options-button:focus {
  @apply outline-none;
}
.card-bottom-button-left {
  border-bottom-left-radius: 18px;
}
.card-bottom-button-right {
  border-bottom-right-radius: 18px;
}
.hover-indigo:hover {
  @apply text-indigo-800 shadow-outline-indigo-1 bg-indigo-100;
  position: relative;
  z-index: 1;
}
.hover-red:hover {
  @apply text-red-800 bg-red-100 shadow-outline-red-1;
  position: relative;
  z-index: 1;
}
.hover-neutral:hover {
  @apply text-neutral-700 shadow-outline-neutral-1;
  position: relative;
  z-index: 1;
}
.text-neutral-500 {
  color: var(--color-neutral-500);
}
.text-neutral-600 {
  color: var(--color-neutral-600);
}
.text-neutral-700 {
  color: var(--color-neutral-700);
}

@tailwind utilities;

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
