<template>
  <v-input v-bind="$attrs" :id="inputId"></v-input>
</template>

<script>
import VInput from '../base/VInput';
import gmapsInit from '../../util/gmaps';

export default {
  name: 'PlacesAutocomplete',
  components: { VInput },
  data: () => ({
    autocomplete: null,
    google: null,
    inputId: 'places-autocomplete',
  }),
  async mounted() {
    this.google = await gmapsInit();
    const input = document.getElementById(this.inputId);
    this.autocomplete = new this.google.maps.places.Autocomplete(input, {
      types: ['geocode'],
    });

    this.google.maps.event.addDomListener(input, 'keydown', (event) => {
      if (event.key === 13) {
        event.preventDefault();
      }
    });

    this.google.maps.event.addListener(this.autocomplete, 'place_changed', () => {
      const place = this.autocomplete.getPlace();
      if (place) {
        let street;
        let number;
        let city;
        let postCode;
        const components = place.address_components;
        components.forEach((c) => {
          if (c.types.indexOf('street_number') > -1) {
            number = c.short_name;
          } else if (c.types.indexOf('route') > -1) {
            street = c.short_name;
          } else if (c.types.indexOf('locality') > -1) {
            city = c.short_name;
          } else if (c.types.indexOf('postal_code') > -1 && c.short_name) {
            postCode = `LT-${c.short_name}`;
          }
        });
        console.log(place, number, street, city, postCode);
        this.$emit('addressSelected', {
          place,
          city,
          postCode,
        });
      }
    });
  },
};
</script>

<style scoped></style>
