<template>
  <div>
    <div class="flex-col w-1/12 my-auto">
      <!-- draggable inputs todo-->
    </div>
    <div class="flex-col w-10/12">
      <v-input :label="label" v-model="routePoint.city" />
    </div>
    <div class="flex-col w-1/12 my-auto flex-shrink-0">
      <svg
        v-if="removable"
        @click="$emit('click:remove')"
        class="fill-current h-6 w-6 mx-auto cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          stroke-linecap="round"
          d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
        />
      </svg>
    </div>
  </div>
</template>

<script>
import VInput from '../base/VInput';

export default {
  name: 'RouteInput',
  components: { VInput },
  props: {
    routePoint: {
      type: Object,
      required: true,
    },
    removable: {
      type: Boolean,
    },
    label: {
      type: String,
      default: 'Enter a destination',
    },
  },
};
</script>
