<template>
  <form @submit.prevent="onSubmit">
    <div class="card mt-2" style="max-width: 30.0625em;">
      <div class="flex justify-center mb-6 text-lg pt-6">Route</div>
      <route-input
        class="inline-flex w-full mb-6"
        v-for="(routePoint, index) in trip.route_points"
        :key="routePoint.order"
        :route-point="routePoint"
        :removable="trip.route_points.length > 2"
        :label="index > 0 ? 'Enter a destination' : 'Enter an origin'"
        @click:remove="removeRoutePoint(routePoint.order)"
      />
      <div class="inline-flex w-full">
        <div class="flex-col w-1/12 my-auto" />
        <div class="flex-col w-full">
          <button
            type="button"
            :disabled="trip.route_points.length > 3"
            @click="addRoutePoint"
            class="btn btn-primary w-36 text-sm"
          >
            + Add a stop
          </button>
        </div>
      </div>
      <div class="card-separator"></div>
      <div class="flex justify-center mb-6 text-lg">Departure</div>
      <div class="inline-flex justify-center w-full">
        <div class="flex-col w-5/12 pr-2 my-auto">
          <v-input
            :error-messages="errors.date"
            label="Date"
            type="date"
            v-model="trip.date"
            @clear:errors="onClearErrors('date')"
          />
        </div>
        <div class="flex-col w-5/12 pl-2 my-auto">
          <v-input
            :error-messages="errors.time"
            label="Time"
            v-model="trip.time"
            @clear:errors="onClearErrors('time')"
          />
        </div>
      </div>
      <div class="card-separator" />
      <div class="flex justify-center mb-6 text-lg">Details</div>
      <div class="inline-flex items-center justify-center w-full pb-12">
        <div class="flex-col w-5/12 pr-2">
          <v-input
            :error-messages="errors.seats_available"
            class="w-full"
            v-model.number="trip.seats_available"
            label="Number of seats"
            type="number"
            @clear:errors="onClearErrors('seats_available')"
          />
        </div>
        <div class="flex-col w-4/12 pl-2">
          <v-input
            :error-messages="errors.price_per_seat"
            class="w-full"
            v-model.number="trip.price_per_seat"
            label="Price per seat"
            type="number"
            @clear:errors="onClearErrors('price_per_seat')"
          />
        </div>
        <div class="flex-col w-1/12 my-auto flex-shrink-0">
          <svg class="fill-current h-6 w-6 mx-auto" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.07,11L7,12L7.07,13H17.35L16.5,15H7.67C8.8,17.36 11.21,19 14,19C16.23,19 18.22,17.96 19.5,16.33V19.12C18,20.3 16.07,21 14,21C10.08,21 6.75,18.5 5.5,15H2L3,13H5.05L5,12L5.05,11H2L3,9H5.5C6.75,5.5 10.08,3 14,3C16.5,3 18.8,4.04 20.43,5.71L19.57,7.75C18.29,6.08 16.27,5 14,5C11.21,5 8.8,6.64 7.67,9H19.04L18.19,11H7.07Z"
            />
          </svg>
        </div>
      </div>
      <div>
        <div
          class="flex flex-row border-t mx-4"
          style="border-width: 0; border-top-width: thin; width: auto; height: 0;"
        />
        <div class="search-result-options-section h-12">
          <div class="flex flex-col justify-center items-center w-full" v-if="onCancel">
            <button
              class="search-result-options-button card-bottom-button-left hover-neutral text-lg text-gray-800"
              type="button"
              @click="onCancel"
            >
              Cancel
            </button>
          </div>
          <div
            class="flex flex-col border-l my-2"
            v-if="onCancel"
            style="border-width: 0 0 0 thin; width: 0px; height: auto;"
          />
          <div class="flex flex-col justify-center items-center w-full">
            <button
              class="search-result-options-button card-bottom-button-right hover-indigo text-lg text-gray-800"
              type="submit"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import RouteInput from './RouteInput';
import VInput from '../base/VInput';

export default {
  name: 'TripForm',
  components: { VInput, RouteInput },
  props: {
    trip: {
      type: Object,
      required: true,
    },
    onSave: {
      type: Function,
      required: true,
    },
    onCancel: {
      type: Function,
      default: null,
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    onClearErrors: {
      type: Function,
      required: true,
    },
  },
  data: () => ({
    saving: false,
  }),
  created() {
    this.trip.time = this.$formatTime(this.trip.time);
    this.trip.seats_available = +this.trip.seats_available;
    this.trip.price_per_seat = +this.trip.price_per_seat;
  },
  methods: {
    addRoutePoint() {
      const currentLength = this.trip.route_points.length;
      const lastPoint = this.trip.route_points[currentLength - 1];
      const newPoint = {
        order: lastPoint.order,
        city: '',
        lat: null,
        lng: null,
      };
      lastPoint.order += 1;
      this.trip.route_points = [
        ...this.trip.route_points.slice(0, this.trip.route_points.length - 1),
        newPoint,
        lastPoint,
      ];
    },

    removeRoutePoint(order) {
      this.trip.route_points = this.trip.route_points.filter((point) => point.order !== order);
    },

    onSubmit() {
      this.saving = true;
      this.onSave(this.trip).finally(() => {
        this.saving = false;
      });
    },
  },
};
</script>

<style scoped></style>
