<template>
  <div id="app" class="h-full">
    <TheHeader />
    <div class="mt-14 t-0 md:mt-14">
      <router-view />
    </div>
  </div>
</template>

<script>
import TheHeader from './components/app-layout/TheHeader.vue';

export default {
  name: 'app',
  components: { TheHeader },
  created() {
    this.$store.dispatch('auth/checkAuth');
  },
};
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
#app {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-background-color);
}
</style>
