/* purgecss start ignore */
:root {
  --body-background-color: hsl(0, 0%, 93%);
  --panel-background-color: hsl(0, 0%, 96%);
  --default-font-color: hsl(0, 0%, 17%);

  /* Color palette #15 provided by Refactoring UI */
  /* These are the splashes of color that should appear the most in your UI, and are the ones that determine the overall "look" of the site.
    Use these for things like primary actions, links, navigation items, icons, accent borders, or text you want to emphasize. */

  /* blue-grey */
  /*--color-primary-100: hsl(210, 36%, 96%);*/
  /*--color-primary-200: hsl(212, 33%, 89%);*/
  /*--color-primary-300: hsl(210, 31%, 80%);*/
  /*--color-primary-400: hsl(211, 27%, 70%);*/
  /*--color-primary-500: hsl(209, 23%, 60%);*/
  /*--color-primary-600: hsl(210, 22%, 49%);*/
  /*--color-primary-700: hsl(209, 28%, 39%);*/
  /*--color-primary-800: hsl(209, 34%, 30%);*/
  /*--color-primary-900: hsl(211, 39%, 23%);*/
  /*--color-primary-1000: hsl(209, 61%, 16%);*/

  /* moss */
  --color-primary-100: hsl(125, 13%, 81%);
  --color-primary-200: hsl(137, 18%, 65%);
  --color-primary-300: hsl(127, 19%, 57%);
  --color-primary-400: hsl(126, 21%, 45%);
  --color-primary-500: hsl(127, 21%, 38%);
  --color-primary-600: hsl(127, 24%, 32%);
  --color-primary-700: hsl(127, 27%, 26%);
  --color-primary-800: hsl(127, 30%, 20%);
  --color-primary-900: hsl(127, 33%, 16%);
  --color-primary-1000: hsl(127, 36%, 12%);
  --color-primary-t-5: hsla(127, 21%, 38%, 0.05);
  --color-primary-t-30: hsla(127, 21%, 38%, 0.3);
  --color-primary-t-50: hsla(127, 21%, 38%, 0.5);
  --color-primary-t-70: hsla(127, 21%, 38%, 0.7);
  /* grayscale */
  /*--color-primary-100: hsl(0, 0%, 70%);*/
  /*--color-primary-200: hsl(0, 0%, 54%);*/
  /*--color-primary-300: hsl(0, 0%, 40%);*/
  /*--color-primary-400: hsl(0, 0%, 26%);*/
  /*--color-primary-500: hsl(0, 0%, 19%);*/
  /*--color-primary-600: hsl(0, 0%, 16%);*/
  /*--color-primary-700: hsl(0, 0%, 13%);*/
  /*--color-primary-800: hsl(0, 0%, 10%);*/
  /*--color-primary-900: hsl(0, 0%, 7%);*/
  /*--color-primary-1000: hsl(0, 0%, 5%);*/
  /*--color-primary-t-5: hsla(0, 0%, 97%, 0.05);*/
  /*--color-primary-t-30: hsla(0, 0%, 38%, 0.3);*/
  /*--color-primary-t-50: hsla(0, 0%, 38%, 0.5);*/
  /*--color-primary-t-70: hsla(0, 0%, 38%, 0.7);*/

  /* blue (vivid) */
  /*--color-primary-100: hsl(202, 100%, 95%);*/
  /*--color-primary-200: hsl(204, 100%, 86%);*/
  /*--color-primary-300: hsl(206, 93%, 73%);*/
  /*--color-primary-400: hsl(208, 88%, 62%);*/
  /*--color-primary-500: hsl(210, 83%, 53%);*/
  /*--color-primary-600: hsl(212, 92%, 43%);*/
  /*--color-primary-700: hsl(214, 95%, 36%);*/
  /*--color-primary-800: hsl(215, 96%, 32%);*/
  /*--color-primary-900: hsl(216, 98%, 25%);*/
  /*--color-primary-1000: hsl(218, 100%, 17%);*/

  /* light-blue */
  /*--color-primary-100: hsl(195, 100%, 95%);*/
  /*--color-primary-200: hsl(195, 100%, 85%);*/
  /*--color-primary-300: hsl(195, 97%, 75%);*/
  /*--color-primary-400: hsl(196, 94%, 67%);*/
  /*--color-primary-500: hsl(197, 92%, 61%);*/
  /*--color-primary-600: hsl(199, 84%, 55%);*/
  /*--color-primary-700: hsl(201, 79%, 46%);*/
  /*--color-primary-800: hsl(202, 83%, 41%);*/
  /*--color-primary-900: hsl(203, 87%, 34%);*/
  /*--color-primary-1000: hsl(204, 96%, 27%);*/

  /* indigo */
  /*--color-primary-100: hsl(221, 68%, 93%);*/
  /*--color-primary-200: hsl(221, 78%, 86%);*/
  /*--color-primary-300: hsl(224, 67%, 76%);*/
  /*--color-primary-400: hsl(225, 57%, 67%);*/
  /*--color-primary-500: hsl(227, 50%, 59%);*/
  /*--color-primary-600: hsl(227, 42%, 51%);*/
  /*--color-primary-700: hsl(228, 45%, 45%);*/
  /*--color-primary-800: hsl(230, 49%, 41%);*/
  /*--color-primary-900: hsl(232, 51%, 36%);*/
  /*--color-primary-1000: hsl(234, 62%, 26%);*/

  /* These are the colors you will use the most and will make up the majority of your UI.
    Use them for most of your text, backgrounds, and borders, and use the higher contrast shades for your primary actions. */
  /*grey */
  --color-neutral-100: hsl(210, 32%, 90%);
  --color-neutral-200: hsl(210, 24%, 87%);
  --color-neutral-300: hsl(212, 9%, 67%);
  --color-neutral-400: hsl(210, 6%, 57%);
  --color-neutral-500: hsl(210, 6%, 46%);
  --color-neutral-600: hsl(213, 6%, 38%);
  --color-neutral-700: hsl(215, 8%, 28%);
  --color-neutral-800: hsl(220, 10%, 18%);
  --color-neutral-900: hsl(214, 16%, 9%);
  --color-neutral-1000: hsl(225, 10%, 8%);
  --color-neutral-t-20: hsla(0, 0%, 0%, 0.1);

  /*!* blue-grey *!*/
  /*--color-neutral-100: hsl(210, 36%, 96%);*/
  /*--color-neutral-200: hsl(212, 33%, 89%);*/
  /*--color-neutral-300: hsl(210, 31%, 80%);*/
  /*--color-neutral-400: hsl(211, 27%, 70%);*/
  /*--color-neutral-500: hsl(209, 23%, 60%);*/
  /*--color-neutral-600: hsl(210, 22%, 49%);*/
  /*--color-neutral-700: hsl(209, 28%, 39%);*/
  /*--color-neutral-800: hsl(209, 34%, 30%);*/
  /*--color-neutral-900: hsl(211, 39%, 23%);*/
  /*--color-neutral-1000: hsl(209, 61%, 16%);*/

  /* ------- SUPPORTING -------- */
  /* These colors should be used fairly conservatively throughout your UI to avoid overpowering your primary colors.
    Use them when you need an element to stand out, or to reinforce things like error states or positive trends with the appropriate semantic color. */
  --color-supporting-100: hsl(165, 67%, 96%);
  --color-supporting-200: hsl(163, 75%, 87%);
  --color-supporting-300: hsl(162, 73%, 74%);
  --color-supporting-400: hsl(164, 70%, 63%);
  --color-supporting-500: hsl(166, 64%, 49%);
  --color-supporting-600: hsl(168, 78%, 41%);
  --color-supporting-700: hsl(170, 91%, 32%);
  --color-supporting-800: hsl(172, 94%, 26%);
  --color-supporting-900: hsl(172, 98%, 20%);
  --color-supporting-1000: hsl(176, 100%, 13%);

  --color-positive-100: hsl(45, 100%, 96%);
  --color-positive-200: hsl(45, 90%, 88%);
  --color-positive-300: hsl(45, 86%, 81%);
  --color-positive-400: hsl(43, 90%, 76%);
  --color-positive-500: hsl(43, 89%, 70%);
  --color-positive-600: hsl(42, 78%, 60%);
  --color-positive-700: hsl(42, 63%, 48%);
  --color-positive-800: hsl(43, 72%, 37%);
  --color-positive-900: hsl(43, 77%, 27%);
  --color-positive-1000: hsl(43, 86%, 17%);

  --color-negative-100: hsl(360, 100%, 97%);
  --color-negative-200: hsl(360, 82%, 89%);
  --color-negative-300: hsl(360, 77%, 78%);
  --color-negative-400: hsl(360, 71%, 66%);
  --color-negative-500: hsl(360, 64%, 55%);
  --color-negative-600: hsl(360, 67%, 44%);
  --color-negative-700: hsl(360, 72%, 38%);
  --color-negative-800: hsl(360, 79%, 32%);
  --color-negative-900: hsl(360, 85%, 25%);
  --color-negative-1000: hsl(360, 92%, 20%);
  /* ---------------------------- */
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Montserrat', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  overflow-y: scroll;
  color: var(--default-font-color);
  background-color: var(--body-background-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.content-wrapper {
  max-width: 83em;
  margin: 0 auto;
}

.video-card-image-wrapper {
  padding-top: 56%;
}
/* purgecss end ignore */
