<template>
  <div class="flex flex-col min-h-screen justify-start w-full">
    <div class="h-screen h-full overflow-hidden">
      <PickupPointSelectMap
        ref="pickupPointSelectMap"
        class="travel-map flex justify-start w-full h-full"
      />
    </div>
    <div
      class="flex card mt-0 justify-center w-full max-w-md fixed h-48"
      style="bottom: 1.5em; left: 50%; transform: translateX(-50%);"
    >
      <div class="flex flex-col w-full justify-between sm:max-w-screen-sm">
        <div class="flex flex-col justify-center px-4 w-full items-center h-24">
          Where would you like to be picked up?
        </div>
        <div class="w-full px-6 pb-8">
          <!--          <v-input label="Type an address" />-->
          <places-autocomplete
            label="Type an address"
            @addressSelected="setNewPickupPointLocation"
          />
        </div>
        <div class="flex inline-flex">
          <div class="flex flex-col w-full">
            <button
              class="btn btn-secondary border-r h-10 rounded-r-none"
              style="border-top-left-radius: 0;"
              type="button"
              @click="onBack"
            >
              Back
            </button>
          </div>
          <div class="flex flex-col w-full">
            <button
              v-if="viewedTrip.user_id === currentUser.id"
              class="btn btn-primary h-10 rounded-l-none"
              style="border-top-right-radius: 0;"
            >
              Edit
            </button>
            <button
              v-else-if="!booked"
              class="btn btn-primary h-10 rounded-l-none"
              style="border-top-right-radius: 0;"
              @click="onContinue"
            >
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex';
import PickupPointSelectMap from '../../components/trips/google-map/PickupPointSelectMap';
import PlacesAutocomplete from '../../components/trips/PlacesAutocomplete';

export default {
  components: { PlacesAutocomplete, PickupPointSelectMap },
  data: () => ({
    booked: false,
  }),
  computed: {
    ...mapState('trips', ['viewedTrip']),
    ...mapGetters('auth', ['currentUser']),
  },
  methods: {
    onBack() {
      this.$router.go(-1);
    },
    setNewPickupPointLocation(autocomplete) {
      this.$refs.pickupPointSelectMap.setNewLocation(autocomplete);
      console.log(autocomplete.place.geometry);
    },

    onBook() {
      this.$store.dispatch('trips/bookASeat', this.viewedTrip.id).catch((err) => {
        if (err.response?.status === 422) {
          this.errors = err.response.data.errors;
        }
      });
    },
    onContinue() {
      console.log('todo'); // TODO implement method
    },
  },
};
</script>

<style scoped>
.travel-map {
  border-radius: 18px 18px 0 0;
}
</style>
