<template>
  <div class="flex flex-col min-h-screen max-w-lg justify-start pt-12">
    <span class="card-label ml-2">{{ $formatDate(viewedTrip.date) }}</span>
    <div class="card w-full" style="width: 30.0625em;">
      <div class="flex flex-col w-full">
        <div
          class="flex flex-col w-full pt-3 pb-3 px-6 justify-center items-center"
          style="border-radius: 18px 18px 0 0;"
        >
          <img
            class="h-20 w-20 rounded-full object-cover mx-auto shadow-lg"
            :src="
              viewedTrip.user.person.photo ? $serverUrl + viewedTrip.user.person.photo : placeholder
            "
            alt="photo"
          />
          <span class="text-shadow-md mt-1">
            {{ viewedTrip.user.person.first_name }}
            {{ viewedTrip.user.person.last_name }}
          </span>
        </div>
        <div class="flex flex-col w-full px-6 py-3">
          <div class="inline-flex justify-between">
            <div class="text-2xl font-medium text-neutral-600">
              {{ $formatTime(viewedTrip.time) }}
            </div>
            <div class="text-2xl font-medium text-neutral-600">
              {{ viewedTrip.price_per_seat }} €
            </div>
          </div>
          <div class="inline-flex justify-between">
            <div class="inline-flex">
              <!--                TODO question mr-1 in the div below-->
              <div
                v-for="route_point in viewedTrip.route_points"
                class="sm:text-sm text-xs font-light text-neutral-500 mr-1"
                :key="route_point.id"
              >
                {{ route_point.city }}
                <span v-if="route_point.order < viewedTrip.route_points.length - 1">-</span>
              </div>
            </div>
            <div class="text-neutral-500 text-sm font-light">
              {{ viewedTrip.seats_available }} seats left
            </div>
          </div>
        </div>
      </div>
      <div class="flex inline-flex w-full justify-between">
        <div class="flex flex-col w-full">
          <button
            class="btn btn-secondary border-r h-10 rounded-r-none"
            style="border-top-left-radius: 0;"
            type="button"
            @click="onBack"
          >
            Back
          </button>
        </div>
        <div class="flex flex-col w-full">
          <button
            v-if="viewedTrip.user_id === currentUser.id"
            class="btn btn-primary h-10 rounded-l-none"
            style="border-top-right-radius: 0;"
          >
            Edit
          </button>
          <button
            v-else-if="!booked"
            class="btn btn-primary h-10 rounded-l-none"
            style="border-top-right-radius: 0;"
            @click="onContinue"
          >
            Continue
          </button>
          <button
            v-else
            class="btn btn-secondary border-r h-10 rounded-l-none"
            style="border-top-right-radius: 0;"
            @click="onCancel"
          >
            Cancel request
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import store from '../../store';
import placeholder from '../../assets/placeholder.jpg';

export default {
  name: 'ViewTripDetails.vue',
  data: () => ({
    booked: false,
    placeholder,
  }),
  computed: {
    ...mapState('trips', ['viewedTrip']),
    ...mapGetters('auth', ['currentUser']),
  },

  methods: {
    ...mapActions('trips', ['cancelRequest']),
    onBack() {
      this.$router.go(-1);
    },
    onContinue() {
      this.$router.push(`/trip/${this.viewedTrip.id}/select-pickup`);
    },
    onCancel() {
      // eslint-disable-next-line no-restricted-globals
      if (confirm('Are you sure?')) {
        const fd = {
          trip_id: this.viewedTrip.id,
          user_id: this.currentUser.id,
        };
        this.cancelRequest(fd);
      }
    },
  },
  created() {
    if (
      this.viewedTrip.trip_passengers?.find(
        (tripPassenger) =>
          tripPassenger.user_id === this.currentUser.id &&
          tripPassenger.request_status === 'pending'
      )
    ) {
      this.booked = true;
    }
  },
  async beforeRouteEnter(to, from, next) {
    await store.dispatch('trips/viewTrip', +to.params.id);
    next();
  },
};
</script>

<style scoped></style>
