<template>
  <form @submit.prevent="onSubmit">
    <div class="min-h-screen flex flex-col">
      <div
        class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-start py-24 px-2"
      >
        <span class="card-label self-start ml-2">Log in to {{ appName }}</span>
        <div class="card px-6 py-6">
          <v-input class="mb-5" v-model="email" label="Email" id="email" name="email" />
          <v-input
            class="mb-5"
            type="password"
            v-model="password"
            label="Password"
            id="password"
            name="password"
          />
          <button type="submit" class="btn btn-primary mt-6 w-full">Sign In</button>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import VInput from '../../components/base/VInput';

export default {
  components: { VInput },
  data: () => ({
    appName: 'geko',
    email: '',
    password: '',
  }),
  methods: {
    onSubmit() {
      const formData = {
        email: this.email,
        password: this.password,
      };
      this.$store.dispatch('auth/logIn', {
        email: formData.email,
        password: formData.password,
      });
    },
  },
};
</script>
