<template>
  <form @submit.prevent="onSubmit">
    <div class="min-h-screen flex flex-col">
      <div
        class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-start py-24 px-2"
      >
        <span class="card-label self-start ml-2">Create account </span>
        <div class="card px-6 py-6">
          <v-input
            class="mb-5"
            v-model="first_name"
            :error-messages="errors.first_name"
            label="First name"
            name="fname"
            @clear:errors="$delete(errors, 'first_name')"
          />
          <v-input
            class="mb-5"
            v-model="last_name"
            :error-messages="errors.last_name"
            label="Last name"
            name="lname"
            @clear:errors="$delete(errors, 'last_name')"
          />
          <v-input
            class="mb-5"
            v-model="email"
            :error-messages="errors.email"
            label="Email"
            name="email"
            @clear:errors="$delete(errors, 'email')"
          />
          <v-input
            v-model="password"
            :error-messages="errors.password"
            :type="isPasswordHidden ? 'password' : 'text'"
            label="Password"
            id="password"
            name="password"
            @clear:errors="$delete(errors, 'password')"
          />
          <div
            v-if="isPasswordHidden"
            class="input-label cursor-pointer"
            @click="isPasswordHidden = !isPasswordHidden"
          >
            Show password
          </div>
          <div
            v-else
            class="input-label cursor-pointer"
            @click="isPasswordHidden = !isPasswordHidden"
          >
            Hide password
          </div>
          <button type="submit" class="btn btn-primary w-full mt-6">Create Account</button>
          <div class="text-center text-sm text-grey-dark mt-4">
            By signing up, you agree to the
            <a class="no-underline border-grey-dark text-primary-500" href="#">
              Terms of Service
            </a>
            and
            <a class="no-underline border-grey-dark text-primary-500" href="#">
              Privacy Policy
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import VInput from '../../components/base/VInput';

export default {
  components: { VInput },
  data: () => ({
    appName: 'geko',
    first_name: '',
    last_name: '',
    email: '',
    password: '',
    isPasswordHidden: true,
    isRequestPending: false,
    errors: {},
  }),
  methods: {
    onSubmit() {
      const formData = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        password: this.password,
      };
      console.log(formData);
      this.$store.dispatch('auth/signUp', formData).catch((err) => {
        if (err.response?.status === 422) {
          this.errors = err.response.data.errors;
        }
      });
    },
  },
};
</script>
